* {
    margin: 0;
}

.hero-content{
background-color: skyblue;
height: 150px;
margin-bottom: 0px;
padding-top: 20px;

}

.hero-content h1 {
padding-bottom: 10px;
}
  
.footer-text{
background-color:skyblue ;
text-align: center;
position: relative;
margin-top: 25%;
height: 70px;
padding-top: 25px;
bottom: 0;
}
  
.footer {
width: 100%;
bottom: 0;
margin-bottom: 0px;  
}
H1 {
text-align: center;
} 

H2 {
text-align: center;
}

h3 {
text-align: center;
font-style: normal;
}

.hero ul li a {
    font-size: 19px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    color: #4a4747;
  }
.hero .hero-content h1 a {
    text-decoration: none;
    color:black;
}
  
  .hero-nav {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
  }

  .hero ul{

    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.2)#4a4747;
}


.active {
    background-color:black rgba(0,0,0,0.2)
}
li a:hover:not(.active) {
    background-color: rgb(125, 158, 158);
    transition: background-color 0.8s;
    border-radius: 10px;
    transition-duration: 1.3s;
}